.landing-page{
  width:100%;
  height:100vh;
  background:url(marvel.png);
  background-size:cover;
}
.title{
  position: absolute;
  width: 943px;
  height: 101px;
  left: 248px;
  top: 98px;
}
.up_text{
  position: absolute;
  width: 666px;
  height: 138px;
  left: 387px;
  top: 260px;

  font-family: Sanchez;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  text-align: center;

  color: rgba(0, 0, 0, 0.5);
}
.low_text{
  position: absolute;
  width: 956px;
  height: 184px;
  left: 242px;
  top: 430px;

  font-family: Sanchez;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  text-align: center;

  color: rgba(0, 0, 0, 0.5);
}
.input_name{
  position: absolute;
  width: 384px;
  height: 53px;
  left: 528px;
  top: 693px;

  background: #FFFFFF;
  border-radius: 30px;  
  border-color: rgba(0, 0, 0, 0.5);
}

input_name::placeholder{
  position: absolute;
  width: 194px;
  height: 23px;
  left: 538px;
  top: 708px;

  font-family: Sanchez;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;

  color: rgba(0, 0, 0, 0.5);
}

.button{
  border:none;
  background:transparent;
  position: absolute;
  width: 200px;
  height: 38px;
  left: 620px;
  top: 746px;

  font-family: Saira ExtraCondensed;
  font-style: normal;
  font-weight: 275;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height */


  color: rgba(0, 0, 0, 0.5);

}